.btn {
  font-size: 15px;
  line-height: 22px;
  color: #162137;
  padding: 13px 34px 14px 31px;
  background: #2BF5E2;;
  border: none;
  cursor: pointer;

  &:hover {
    background: #27dfe5;
  }
}

.btn-lg {
  padding: 23px 102px;
}

.video-btn {
  padding: 40px 25px 37px 39px;
  background: #2BF5E2;
  border: none;

  span {
    display: block;
    border: 8px solid transparent;
    border-left: 17px solid #fff;
  }

  &:hover {
    background: #27dfe5;
  }
}

.holder-banner-text {
  .btn {
    background: #162137;
    color: #2BF5E2;

    &:hover {
      background: #212121;
    }
  }
}

.video-clip {
  position: relative;

  .video-btn {
    position: absolute;
    top: 64%;
    right: 47%;
  }
}

.sentence-service {
  .btn {
    padding: 22px 67px 25px 65px;
    font-size: 22px;
  }
}

.photo-employees {
  .btn {
    border: solid 2px #162137;
    padding: 11px 38px 11px 31px;
    position: relative;
    z-index: 2;
  }

  li {
    &:hover {
      .btn {
        display: block;
        position: absolute;
        top: 36%;
        left: 32%;
      }
    }
  }
}

.videos-and-articles {
  position: relative;

  .video-btn {
    padding: 40px 25px 37px 39px;
    border: none;
    position: absolute;
    top: 41%;
    right: 40%;
    z-index: 2;
  }
}

.video-interview {
  position: relative;


  .btn {
    background: transparent;
    border: solid 2px #162137;
    padding: 11px 38px 11px 31px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -48px 0 0 -105px;
    display: none;
  }
}

.video-interview {

  &:hover {
    .btn {
      display: block;
    }
  }
}





