button {
  font-family: 'gilroy-light';
  font-size: 15px;
  line-height: 22px;
  color: #2BF5E2;
  padding: 13px 34px 14px 31px;
  background: #162137;
  border: none;
  cursor: pointer;
}

.holder-banner-text {

  .general-btn {

    &:hover {
      background: #182d59;
    }
  }

}



.video-clip {
  position: relative;

  .video-btn {
    padding: 40px 25px 37px 39px;
    background: #2BF5E2;
    border: none;
    position: absolute;
    margin: -25px 0 0 -25px;
    top: 50%;
    right: 50%;

    &:hover {
      background: #27dfe5;
    }

    span {
      display: block;
      border: 8px solid transparent;
      border-left: 17px solid #fff;
    }
  }
}

.holder-description-btn {
  .general-btn {
    color: #162137;
    background: #2BF5E2;
    position: relative;
    z-index: 2;

    &:hover {
      background: #27dfe5;
    }
  }
}


.sentence-service {
  .general-btn {
    color: #162137;
    background: #2BF5E2;
    padding: 22px 67px 25px 65px;
    font-size: 22px;
    position: relative;
    z-index: 2;

    &:hover {
      background: #27dfe5;
    }
  }
}

.photo-employees {
  .general-btn {
    color: #162137;
    background: #2BF5E2;
    border: solid 2px #162137;
    padding: 11px 38px 11px 31px;
    position: relative;
    z-index: 2;

    &:hover {
      background: #27dfe5;
    }
  }

  li {
    &:hover {
      .general-btn {
        display: block;
        position: absolute;
        top: 36%;
        left: 32%;
      }
    }
  }
}

.holder-connect-with-us {
  .general-btn {
    color: #162137;
    background: #2BF5E2;
    font-family: 'gilroy-heavy';
    padding: 23px 102px;

    &:hover {
      background: #27dfe5;
    }

  }
}

.videos-and-articles {
  position: relative;

  .video-btn {
    padding: 40px 25px 37px 39px;
    background: #2BF5E2;
    border: none;
    position: absolute;
    top: 31%;
    right: 40%;
    z-index: 2;

    &:hover {
      background: #27dfe5;
    }

    span {
      display: block;
      border: 8px solid transparent;
      border-left: 17px solid #fff;
    }
  }
}

.video-interview {
  position: relative;

  .general-btn {
    color: #162137;
    background: transparent;
    border: solid 2px #162137;
    padding: 11px 38px 11px 31px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -95px 0 0 -105px;

    &:hover {
      background: #2BF5E2;
    }
  }
}




