.holder-difference {
  background: #162137;
}

.holder-difference-and-service {
  background: url("../images/raptor.png");
  background-position: bottom left;
  background-size: 1000px 500px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 311px 0 73px;

  .holder-text {
    max-width: 640px;
    padding: 32px 0 0 2px;

    h3 {
      font-size: 55px;
      line-height: 66px;
      color: #fff;
      text-align: left;
      margin-bottom: 39px;
    }

    p {
      font-size: 22px;
      line-height: 39px;
      color: #fff;
      padding: 0 60px 0 0;
    }
  }

  .difference-columns {
    max-width: 745px;
    display: flex;
    flex-wrap: wrap;

    div {
      max-width: 325px;
      margin: 0 16px 113px;

      h3 {
        font-size: 23px;
        line-height: 24px;
        color: #2BF5E2;
        margin-bottom: 40px;
      }
      p {
        font-size: 22px;
        line-height: 31px;
        color: #fff;
      }
    }
  }
}