.holder-navigation .logo-holder {
  padding: 62px 120px 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holder-articles {
  background: #162137;
}

.articles-photo {
  padding: 290px 129px 210px;

  .articles-title {
    padding: 0 86px;
    font-size: 60px;
    line-height: 90px;
    color: #fff;
    text-align: left;
    margin-bottom: 137px;
  }

  .holder-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 92px;

    img {
      filter: grayscale(100%);
      width: 100%;
    }
  }

  .holder-paragraph {
    text-align: left;
    padding: 0 84px;
    margin-bottom: 88px;

    .big-paragraph {
      margin-bottom: 69px;

      p {
        font-size: 30px;
        line-height: 54px;
        color: #fff;
        margin-bottom: 55px;
      }
    }

    .small-paragraph {
      font-size: 22px;
      line-height: 40px;
      color: #fff;
      margin-bottom: 70px;

      p {
        font-size: 22px;
        line-height: 40px;
        color: #fff;
        margin-bottom: 39px;
      }
    }

    h3 {
      font-size: 30px;
      line-height: 54px;
      color: #fff;
      margin-bottom: 42px;
    }
  }
}


.holder-footer-blog-in {
  background: #111C32;
  min-height: 513px;

  .connect-with-us {
    display: flex;
    padding: 168px 0 134px;
    justify-content: space-around;

    .text {
      width: 740px;

      h3 {
        font-size: 75px;
        line-height: 91px;
        color: #fff;
        text-align: left;
      }
    }

    .connect-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}
