.modal {
  width: auto;
  max-width: 1570px;
  padding: 0;
  background: none;
  box-shadow: none;
}

.blocker {
  background-color: rgba(22, 33, 55, 0.8);
  z-index: 8;
  padding: 544px 0;
}

.modal a.close-modal {
  display: none;
}

.close-btn {
  position: absolute;
  top: -8px;
  right: 48px;
  z-index: 8;

  .fa {
    color: #fff;
    font-size: 40px;
  }
}

.modal-content {

  .video-clip {
    padding-top: 0;

    .video-btn {
      top: 50%;
      right: 45%;
    }

    h3 {
      font-size: 30px;
      line-height: 45px;
      color: #fff;
      margin-bottom: 46px;
    }
  }
}