.scroll {
  text-align: center;

  .scroll-btn {
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    background: none;
    padding: 10px;
    border: none;

    &:hover {
      color: #27dfe5;
    }
  }
}

.banner {

  .scroll-btn {
    color: #162137;
  }
}


