.scroll {
  text-align: center;

  .scroll-btn {
    color: #162137;
    letter-spacing: 1px;
    font-size: 14px;
    background: none;
    padding: 0;

    &:hover {
      color: #27dfe5;
    }
  }
}

.holder-video-clip {

  .scroll {

    .scroll-btn {
      position: relative;
      z-index: 2;
      color: #fff;

      &:hover {
        color: #27dfe5;
      }
    }
  }
}

.holder-difference {

  .scroll {

    .scroll-btn {
      color: #fff;

      &:hover {
        color: #27dfe5;
      }
    }
  }
}

.holder-sentence {

  .scroll {
    padding-bottom: 43px;

    .scroll-btn {
      position: relative;
      z-index: 2;
      color: #fff;

      &:hover {
        color: #27dfe5;
      }
    }
  }
}



